@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <h1 class="display-4">The PARROT database logo...</h1>
    <img src="~/images/parrot.png" alt="PARROT" /><br /><br />
    <p class="lead">... is licencse under <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />&nbsp;Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a></p>
    <hr class="my-4">
    
    <a class="btn btn-primary btn-lg" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" role="button">Learn more</a>
</div>