@{
    ViewBag.Title = "Contact";
}

<br />
<br />
<p class="lead">
    The authors look forward to a lively use of the PARROT database and are very grateful for suggestions for improvement and user feedback.
<br /><br />
    <a href="mailto:parrot@tu-freiberg.de">parrot@tu-freiberg.de</a>
</p>


